{% extends "base.html" %}
{% block title %}Purple stick{% endblock %}
{% block content %}
<div style="">
    <tr>
        <tb>
            <img src = "https://github.com/hyu-nani/webSite/blob/main/website/images/home/front1.png?raw=true"
                height="auto"
                alt="front1" 
                border="0"
            /> 
        </tb>
        <tb>
            <img src = "https://github.com/hyu-nani/webSite/blob/main/website/images/home/front2.png?raw=true"
                height="auto"
                alt="front2" 
                border="0"
            /> 
        </tb>
        </tr>
        <tr>
        <tb>
            <img src = "https://github.com/hyu-nani/webSite/blob/main/website/images/home/front3.png?raw=true"
                height="auto"
                alt="front3" 
                border="0"
            /> 
        </tb>
        <tb>
            <img src = "https://github.com/hyu-nani/webSite/blob/main/website/images/home/front4.png?raw=true"
                height="auto"
                alt="front4" 
                border="0"
            /> 
        </tb>
    </tr>
</div>
{% endblock %}