{% extends "base.html" %}
{% block title %}Purple stick{% endblock %}
{% block content %}
<img src = "https://github.com/hyu-nani/webSite/blob/main/website/images/home/front1.png?raw=true"
    width="100%"
    height="auto"
    alt="front1" 
    border="0"
/> 
<img src = "https://github.com/hyu-nani/webSite/blob/main/website/images/home/front2.png?raw=true"
    width="100%"
    height="auto"
    alt="front2" 
    border="0"
/> 
<img src = "https://github.com/hyu-nani/webSite/blob/main/website/images/home/front3.png?raw=true"
    width="100%"
    height="auto"
    alt="front3" 
    border="0"
/> 
<img src = "https://github.com/hyu-nani/webSite/blob/main/website/images/home/front4.png?raw=true"
    width="100%"
    height="auto"
    alt="front4" 
    border="0"
/> 
{% endblock %}