<!DOCTYPE html>
<html>
    <head style="width:100%;">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />
        <link 
            rel="stylesheet" 
            href="nav-menu.css"
        />
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body style="background-color:rgb(255, 255, 255);"> 
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img 
                src="https://github.com/hyu-nani/webStieImage/blob/main/logo.gif?raw=true" 
                width="auto" 
                height="100%" 
                alt="Logo"
            ></a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li>    
                        <a class="nav-item nav-link" id="home" href="/">홈</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="myPage" href="/myPage">내 정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logout" href="/logout">로그아웃</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="login" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="termOfUse" href="/termOfUse">회원가입</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" id="buletinBoard" href="/bulletinBoard">자유게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="estimate" href="/estimate">견적/시안요청</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="information" href="/information">업체소개</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            제품소개
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/sample/banner">현수막</a>
                            <a class="dropdown-item" href="/sample/frame">액자</a>
                            <a class="dropdown-item" href="/sample/sticker">스티커 실사출력</a>
                            <a class="dropdown-item" href="/sample/screen">롤스크린</a>
                            <a class="dropdown-item" href="#">LED문자/나무간판</a>
                            <a class="dropdown-item" href="#">베너게시대</a>
                            <a class="dropdown-item" href="#">표찰</a>
                            <a class="dropdown-item" href="#">아크릴가공</a>
                            <a class="dropdown-item" href="#">부자재</a>
                            <a class="dropdown-item" href="#">보유서체</a>
                            <a class="dropdown-item" href="#">시공사진</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            보유장비
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">CNC</a>
                            <a class="dropdown-item" href="#">채널 제단기</a>
                            <a class="dropdown-item" href="#">레이저 프린터</a>
                            <a class="dropdown-item" href="#">솔벤트 프린터</a>
                            <a class="dropdown-item" href="#">유성잉크 프린터</a>
                            <a class="dropdown-item" href="#">안료급 프린터</a>
                            <a class="dropdown-item" href="#">크레인</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            입금계좌안내
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Tel: 055)355-2464</a>
                            <a class="dropdown-item" href="#">Fax: 055)355-2491</a>
                            <a class="dropdown-item" href="#">계좌 은행 : 농협</a>
                            <a class="dropdown-item" href="#">811046-52-039298</a>
                            <a class="dropdown-item" href="#">예금주 : 배태식</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="ture">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="ture">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} contents {% endblock %}
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"
        ></script>
    </body>
    <tr>
        <td bgcolor="white">
            <img height="2" width="100%" border="0">
        </td>
    </tr>
    <body>
        <div align="left" style="background-color:rgb(224, 224, 224) ;">
            <div class="container">
                사이트맵 정리 이용공간
            </div>
        </div>
        <div align="center" style="background-color:rgb(224, 224, 224) ;"> 
            <h6 style="width:60%" >
                <td>
                    <p style="font-family:verdana"><br/>
                        상호: 밀양컴퓨터컷팅<br/>
                        사업자등록번호: 615-12-07448 <br/>
                        대표: 배태식 / 사무실: 경남 밀양시 내이동 1577-12 <br/>
                        T.055)355-2464,2494  FAX:355-2491<br/>
                        본 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 <br/>
                        무단으로 수집되는 것을 거부하며, 이를 위반 시 정보통신망법에 의해 형사 처벌됨을 유념하시기 바랍니다.<br/>
                        [게시일 2003년 8월 25일]<br/><br/>
                        Copyright ©  hyu-nani  All rights reserved.<br/><br/>
                    </p>
                </td>
            </h6>
        </div>
    </body>
</html>
