{% extends "base.html" %}
{% block title %}견적/시안{% endblock %}
{% block content %}
<style>
    table, th, td {
        border:0px;
    }
</style>
<div class="container" style="width:80%;">
    <form method="POST">
            <tr>
                <br/>
                <h2 align="center">견적/시안요청 </h2>
                <div align="right">
                    <button type="submit" class="btn btn-primary" >새글 작성</button>
                </div>
            </tr>
            <br/>
            <tr>
                <td bgcolor="white">
                    <img height="2" width="100%" border="0">
                </td>
            </tr>
            <tr>
                <ul class="list-group list-group-flush" id="orders"></ul>
                {% for order in Order %}
                <tr>
                    <table>
                        <td >{{ order.id }}</td>
                        <td>
                            <button class="list-group-item"  style="width:80%;">
                                {{ order.order_title }} :
                                {{ order.order_date }}
                            </button>
                        </td>
                        <td>
                            <button 
                                type="button" 
                                class="close" 
                                onClick="deleteOrder({{ order.id }})" 
                                style="width: 30%;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </table>
                </tr>
                {% endfor %}
                </ul>
            </tr>
    </form>
</div>
{% endblock %}