
{% extends "base.html" %}
{% block title %}밀양컴퓨터컷팅 - 옥외광고제작 전문업체{% endblock %}
{% block content %}

    <a href="https://blog.naver.com/cube_h2"><img 
        src="https://github.com/hyu-nani/webStieImage/blob/main/icon/naverBlog.png?raw=true"
        width="5%"
        height="5%"
        alt="blog_icon"/>
    </a>
블로그 아이콘 누르면 이동합니다.

<img src = "https://github.com/hyu-nani/webSite/blob/main/website/images/home/front1.png?raw=true"
    width="100%"
    height="auto"
    alt="front1" 
    border="0"
/> 

{% endblock %}