
{% extends "base.html" %}
{% block title %}밀양컴퓨터컷팅{% endblock %}
{% block content %}
<img src = "https://github.com/hyu-nani/webStieImage/blob/main/home/banner1.gif?raw=true"
    width="100%"
    height="auto"
    alt="front1" 
    border="0"
/> 
<div style="background-color:rgb(172, 168, 175); ">
<h2>!!! 테스트 홈페이지 입니다. </h2>
</div>
<a href="https://blog.naver.com/comcut03/220612769724"><img 
    src="https://github.com/hyu-nani/webStieImage/blob/main/icon/naverBlog.png?raw=true"
    width="5%"
    height="5%"
    alt="blog_icon"/>
</a>
블로그 아이콘 누르면 이동합니다.
<br/>
[[[ 할일 ]]]<br/>
게시판 작업 <br/>
반응형화면<br/>
견적/시안 작업 <br/>
틀 구간 나누기<br/>
<br/>
[[[완료작업]]]<br/>
기초 Back-end 작업<br/>
로그인 Database<br/>
회원가입 list<br/>
약관 정리<br/>
회사소개<br/>
알림<br/>
기초 페이지<br/>
이미지 연동<br/>

<img src = "https://github.com/hyu-nani/webStieImage/blob/main/home/front1.gif?raw=true"
    width="100%"
    height="auto"
    alt="front1" 
    border="0"
    /> 


{% endblock %}