{% extends "base.html" %}
{% block title %}sign_up{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center"><br>회원가입</h3>
    <div class="form-group">
        <label for="name">이름*</label>
        <input 
            type="text" 
            class="form-control"
            id="name"
            name="name"
            placeholder="Name"
        />
    </div>
    <div class="form-group">
        <label for="email">이메일*</label>
        <input 
            type="text" 
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
        />
    </div>
    <div class="form-group">
        <label for="password1">비밀번호*</label>
        <input 
            type="text" 
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Password"
        />
    </div>
    <div class="form-group">
        <label for="password2">비밀번호 확인*</label>
        <input 
            type="text" 
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
        />
    </div>
    <div class="form-group">
        <label for="name">주소(선택)</label>
        <input 
            type="text" 
            class="form-control"
            id="address"
            name="address"
            placeholder="address"
        />
    </div>
    <br />
    <button type="submit" class="btn-btnprimary"><h5>확인</h5></button>
</from>
{% endblock %}