{% extends "base.html" %}
{% block title %}회원가입{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center"><br>회원가입</h3>
    <div class="form-group">
        <label for="name">이름*</label>
        <input 
            type="name" 
            class="form-control"
            id="name"
            name="name"
            placeholder="Name"
        />
    </div>
    <div class="form-group">
        <label for="email">이메일*</label>
        <input 
            type="email" 
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
        />
    </div>
    <div class="form-group">
        <label for="password1">비밀번호*</label>
        <input 
            type="password1" 
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Password"
        />
    </div>
    <div class="form-group">
        <label for="password2">비밀번호 확인*</label>
        <input 
            type="password2" 
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
        />
    </div>
    <div class="form-group">
        <label for="address">주소(선택)</label>
        <input 
            type="address" 
            class="form-control"
            id="address"
            name="address"
            placeholder="address"
        />
    </div>
    <tr>
        <td align="left"><font size="2">이벤트 등 프로모션 알림 메일 수신(선택)</font></td>
        <td><input type="checkbox" name="check" id="check"></td><hr/>
    </tr>
    <br />
    <button type="submit" class="btn-btnprimary"><h5>제출</h5></button>
</from>
{% endblock %}